@import url('../../../../fonts.googleapis.com/cssd2d5.css?family=Open+Sans');

body {
	font-family: 'Open Sans', serif;
	font-size: 12px;
}

.center {
  margin: auto;
  width: 75%;
  border: 3px solid transparent;
  padding: 10px;
}

.ist-logo {
  position: absolute;
  top: 5px;

}

span.error-msg {
  color: red;
}

.center-img {
  margin: auto;
  border: 3px solid transparent;
  padding: 10px;
  text-align: center;
  display: block;
}

.covering-canvas { 
  width:100%; height:100%; 
  position:absolute; top:0px; left:0px;
  background-color: rgba(255,0,0,.1);
}

h1, h2 {
	text-align: center;
}


#visualization-block {
	display: block;
	text-align: center;
}


 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
} 


/*****
***** DROPDOWNS
******/

.executebtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  
}

/* Dropdown button on hover & focus */
.executebtn:hover, .executebtn:focus {
  background-color: #2980B9;
}

 /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  width: 100%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropbtn.chosen {
  background-color: white;
  color: #3498DB;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

footer {
    display: block;
    text-align: center;
}